:root {
    --primary-color: #d83c0c;
    --secondary-color: #d5d5d5;
    --link-color: #b42d0b;
    --hover-color: #35f2ff;
    --font-color: #9e6104;
    --bg-color1: #fffbd4;
    --bg-color2: #ffdcea;
    --bg-color3: #e0f7ff;
    --bg-color4: #e1fff8;
    --heading-color: #292922;
    --shadow-color1: rgba(0, 0, 0, 0.18);
    --shadow-color2: rgba(0, 0, 0, 0.15);
    --transition: all 0.3s linear;
    --clr-primary-5: hsl(41, 100%, 32%);
    --clr-primary-7: hsl(41, 100%, 45%);
    --clr-red-dark: hsl(360, 67%, 44%);
    --clr-red-light: hsl(360, 71%, 66%);
    --clr-grey-5: hsl(210, 22%, 49%);
    --clr-primary-8: hsl(47, 44%, 88%);
    --clr-primary-9:hsl(31, 86%, 77%);
    --clr-white: #fff;
    --ff-primary: 'Baloo Bhaijaan 2', cursive;;
}

body {
    font-family:var(--ff-primary);
    -webkit-font-smoothing: antialiased;
    min-height: 80vh;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    color: var(--font-color);
    
}

.bckground-img{
    background-repeat: no-repeat;
    position:relative;
}

.container {
    margin-top: 5em;
    margin-left: auto;
    margin-right: auto;
    width: 670px;
    position: relative;
}

@media (max-width: 768px) {
    .container {
        width: 90vw;
    }
}


/* Content */

h1 {
    font-size: 4em;
    font-weight: 500;
    margin-bottom: 0;
}
h2 {
    font-size: 2.5em;
    font-weight: 500;
    margin-bottom: 0;
}
#name {
    font-family: 'Baloo Bhaijaan 2', cursive;
    font-size: 1.7em;
    font-weight: 500;
    margin: 0;
}
p {
    font-size: 1.6em;
    font-weight: 300;
    line-height: 1.4;
    max-width: 26em;
}

.intro a {
    border-bottom: 3px solid transparent;
    text-decoration: none;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    color: var(--link-color);
    font-weight: 500;
}

.intro a:hover {
    border-bottom: 1.2px solid var(--hover-color);
}

.downolad-link{
    color: rgb(243, 238, 226);
    background-color: rgb(201, 26, 26);
    border-color: red;
    border-style:solid;
    border-width: thin;
    padding: 0.7em;
    text-decoration: none;  
    font-size: medium;
}

.downolad-link:hover{
    opacity: 0.8;
}

.footer {
    color: var(--font-color);
    font-size: 0.8rem;
    text-align: center;
    margin: 3rem;
}

.footer a {
    color: var(--link-color);
    font-weight: 700;
    text-decoration: none;
}

.footer a:hover {
    color: var(--hover-color);
}

.footer .click-counter {
    font-size: 0.8em;
    color: #ffffff4d;
}

.footer .click-counter a {
    color: #ffffff6c;
}

.footer .click-counter a:hover {
    color: #fff082;
}

/* Side Bar */

.sidebar-toggle {
    position: fixed;
    top: 2rem;
    right: 3rem;
    font-size: 2rem;
    background: transparent;
    border-color: transparent;
    color: var(--clr-primary-5);
    transition: var(--transition);
    cursor: pointer;
    animation: bounce 2s ease-in-out infinite;
}

.sidebar-toggle:hover {
    color: var(--clr-primary-7);
}

@keyframes bounce {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.5);
    }

    100% {
        transform: scale(1);
    }
}

.sidebar-header {
    font-family:var(--ff-primary);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
}

.close-btn {
    font-size: 1.75rem;
    background: transparent;
    border-color: transparent;
    color: var(--clr-primary-5);
    transition: var(--transition);
    cursor: pointer;
    color: var(--clr-primary-5);
    justify-self: right;
}

.close-btn:hover {
    justify-self: right;
    transform: rotate(90deg);
}

.logo {
    justify-self: left;
    height: 40px;
}

.links a {
    font-family:var(--ff-primary);
    display: block;
    font-size: 1.5rem;
    text-transform: capitalize;
    padding: 1rem 1.5rem;
    color: brown;
    transition: var(--transition);
    text-decoration:none;
    
}

.links a:hover {
    background: var(--clr-primary-8);
    color: var(--clr-primary-5);
    padding-left: 1.75rem;
}
 
.links {
    list-style-type:none; 
}

.social-icons {
    justify-self: left;
    display: flex;
    padding-bottom: 2rem;
    list-style-type:none;
}

.social-icons a {
    font-size: 1.5rem;
    margin: 0 0.5rem;
    color: var(--clr-primary-5);
    transition: var(--transition);
}

.social-icons a:hover {
    color: var(--clr-primary-1);
}


.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--clr-primary-9);
    display: grid;
    grid-template-rows: auto 1fr auto;
    row-gap: 1rem;
    box-shadow: var(--clr-red-dark);
    transition: var(--transition);
    transform: translate(-100%);
}

.show-sidebar {
    transform: translate(0);
}

@media screen and (min-width: 676px) {
    .sidebar {
        width: 400px;
    }

    #particle-container {
        position: fixed;
        overflow: hidden;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
        z-index: 0;
    }
}